<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
 	<title>Привет, Vue</title>
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>



<div class="container jumbotron">

  <!-- || — логический оператор ИЛИ -->

	<div v-if="gender === 'male' || gender === 'female'">

    	<h1>Привет,

      	<!-- отрисовка span, если 'gender' равняется 'male' -->

      	<span v-show="gender === 'male'">Мистер {{name}}.</span>

      	<!-- отрисовка span, если 'gender' равняется'female' -->

     	<span v-if="gender === 'female'">Мисс {{name}}.</span>

    	</h1>

  </div>

  <!-- v-else сразу следует за блоком v-if для его работы -->

  <h1 v-else>Так, значит, ты не можешь решить. Отлично!</h1>

  <!-- показать поля ввода -->

  <label for="gender">Введите свой пол:</label>

  <input v-model="gender" class="form-control" id="gender">

  <label for="name">Введите ваше имя:</label>

  <input v-model="name" class="form-control" id="name">











  <br>
  <br>
  <br>
  <br>
  <br>
  <br>














  <h1>Таблица умножения на 4</h1>
    <ul class="list-group">
      <li v-for="i in 11" class="list-group-item">
        {{ i }} умножить на 4 равно {{ i * 4 }}.
      </li>
    </ul>















<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




















  <h1>Давайте послушаем несколько историй!</h1>
  <br>
  <div>
    <ul class="list-group">
        <li v-for="(story, index) in stories" :key="index" class="list-group-item">{{index+1}} Кто-то сказал "{{ story }}"</li>
    </ul>
  </div>

















<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
















  <h1>Давайте послушаем несколько историй 2!</h1>
  <br>
  <div>
    <ul class="list-group">
        <li v-for="(story, index) in stories2" :key="index" class="list-group-item">{{index+1}}. {{story.writer}} сказал "{{ story.plot }}"</li>
    </ul>
  </div>


















<br>
<br>
<br>
<br>
<br>
<br>
<br>




















 <h1>Давайте послушаем несколько историй 3!</h1>

  <ul class="list-group">

    <li v-for="(value, key, index) in story" :key="index" class="list-group-item">

      {{index}} : {{key}} : {{value}}

    </li>

  </ul>









<br>
<br>
<br>
<br>
<br>
<br>
<br>




















 <h1>Це Я</h1>

  <ul class="list-group">

    <li v-for="(value, key, index) in myParametrs" :key="index" class="list-group-item">

      {{index}} : {{key}} = {{value}}

    </li>

  </ul>














<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>












  
  <button class="btn btn-primary btn-lg" href="#" role="button" type="button" v-on:click="upvotes++">
    Проголосовать {{upvotes}}
  </button>















<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>











  <pre>{{ $data }}</pre>

</div>
	


















	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<script src="src/script/script.js"></script>

</body>
</html>